.client{
    width: 100%;
    height: auto;

    /* More than 25,000 teams use Collabs */




font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #191A15;

margin: 100px 0px;


}


.logo-com>h3{
    /* Unsplash */


width: 136px;
height: 36px;
left: 174px;
top: 1028px;


font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 36px;
text-align: center;

color: #A6A6A6;


}


.company-logo{
    height: auto;
    width: 80vw;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
}

.logo-com{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-com img{
    width: 34px;
    height: 32px;
}